.list {
  /* display:flexbox; */
  color: #474747;
  width: 300px;
  background-color: #e3e0f3;
  margin: 10px auto;
  border-radius: 10px;
  padding: 1px 10px;
  padding: 1px 10px;
}

.list p {
  padding: 1px 10px;
  position: relative;
}
.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.list p input {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-family: "JetBrains Mono", monospace;
}
.list p input:focus {
  outline: none;
}
